.envelope {
    margin-left: 30px;
    margin-top: 20px;
}

a, a:hover, a:active, span {
    text-decoration: none;
    font-size: 17px;
    color: black;
    /*margin-bottom: 10px;*/
}

table {
    border-collapse: collapse;
}

table td {
    padding: 12px 16px;
}

table thead tr {
    font-weight: bold;
    border-top: 1px solid #e8e9eb;
}

table tr {
    border-bottom: 1px solid #e8e9eb;
}

table tbody tr:hover {
    background: #e8f6ff;
}

.enbl {
    text-shadow: none;
    border: 2px solid rgba(150, 150, 150, 0.15) !important;
    color: #FFFFFF;
    background: #e43d3c;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

[data-change='disabled'] {
    border: 2px solid green;
}

[data-change='enabled'] {
    border: 2px solid #e43d3c;
}

[data-change='disabled']:hover {
    background: green !important;
    border: 2px solid green;
}

progress[value]::-webkit-progress-value, progress[value]::-moz-progress-bar {
    background: #e43d3c;
}

.pagination {
    padding-top: 35px;
}

.page-item .active {
    max-height: 25px !important;
}

.progress {
    width: 150px;
    height: 20px !important;
}

.progress-bar {
    background: #e43d3c;
}

.progress-bar-zero {
    background: #e43d3c;
    color: black;
}
