a {
    text-decoration: none !important;
}

@font-face {
    font-family: "Fa-solid-900";
    src: url("../fonts/fa-solid-900.woff2") format("truetype");
    src: url("../fonts/fa-solid-900.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    border-radius: 0 !important;
}

a:hover {
    color: #000000 !important;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.input-group {
    /*width: 225px !important;*/
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn_mon {
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 0 !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    padding: 4px 12px !important;
    color: black !important;
    border: 2px solid #e43d3c !important;
}

.btn-outline-danger {
    border: 2px solid #e43d3c !important;
    color: black !important;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #e43d3c !important;
}

.form-control {
    border-radius: 0 !important;
}

.nav {
    text-transform: uppercase !important;
    margin-left: 25px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.uk-navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 30px !important;
}

.uk-navbar-nav > li {
    float: left;
    display: table-cell;
    text-align: center;
}

.uk-navbar-nav > li > a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 40px;
    padding: 0 0;
    line-height: 40px;
    color: #a2a2a2;
    font-size: 11px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.active::after {
    content: '';
    bottom: 7px;
    left: 0;
    height: 2px !important;
    width: 100%;
    background: #e43d3c;
    -webkit-transition: height 0.15s ease, color 0.15s ease;
    transition: height 0.15s ease, color 0.15s ease;
}

.bg_info {
    padding: 35px !important;
    background: #ffffff;
    /*color: #a2a2a2;*/
    overflow: hidden;
    border-radius: 0;
    background-image: none;
    box-shadow: 2px 26px 69px 0 rgba(0, 0, 0, 0.1);
}

.warning_text {
    border: 3px solid #0088cc;
    padding: 10px;
}

.warning_text > h2 {
    font-weight: 600;
    font-size: 38px;
}

.instruction, .instruction > h3 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.container, .container-flex, .container-fluid {
    min-height: 75% !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}

.daily_reports {
    width: 22vw !important;
}

input[type="text"], select[name="periodicity"] {
    width: 280px;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    outline: none !important;
    /*margin-left: 20px !important;*/
}

input[type="text"]:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    outline: 0;
    background: rgba(150, 150, 150, 0.15);
    background-image: none;
}

.requests {
    padding-left: 25px !important;
}

.info_headers {
    width: 200px !important;
}

.legend {
    margin-bottom: 25px !important;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 21px;
    line-height: 48px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.row_info {
    margin: 25px 0 !important;
}

textarea[type="text"]:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0);
    outline: 0;
    background: rgba(150, 150, 150, 0.15);
    background-image: none;
}

.title_h1 {
    padding-bottom: 35px !important;
}

.btn-outline-success {
    color: black !important;
}

footer {
    width: 800px !important;
    padding-left: 35px !important;
}

table input {
    max-width: 80px !important;
    outline: none !important;
    border: 0 !important;
}

.btn-submit-ae {
    margin-top: 30px !important;
}

.btn-back {
    margin-top: 100px;
    margin-bottom: 30px !important;
    text-shadow: none;
    background: #fff;
    border: 2px solid #e43d3c !important;
    color: #000000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 15px !important;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    max-width: 300px;
}

.btn-back:hover {
    color: #fff !important;
    background-color: #e43d3c !important;
}

.btns-block {
    display: inline !important;
}

.btn-submit-date {
    width: 150px !important;
}

.export:hover, .export:focus, .btn-submit-date:hover, .btn-submit-date:focus, #datetimepicker:hover, #datetimepicker:focus {
    background-position: 0 0;
    -webkit-transition: none;
    transition: none;
    background-color: #ffffff;
    color: #1f1e20;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 6px 19px 0 rgba(0, 0, 0, 0.1);
    transform: none;
}

.export, .btn-submit-date {
    margin-top: 30px !important;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    font-size: 14px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
    border: 2px solid rgba(150, 150, 150, 0.15) !important;
    background: #ffffff;
    margin-right: 5px !important;
    color: #000000;
    height: 36px !important;
}
